.Doc{justify-content:center}.SplitLayout--vkcom .Doc{margin-top:0!important}.Archer.svelte-ulouf7{display:block;top:-112px;position:relative}body{min-height:100vh;margin:0;padding:0;user-select:none}
